body{
    background-color: rgb(224, 201, 142);
    opacity: 25;
}

div{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}
#loginForm{
    border: solid 2px black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    padding: 100px;
    box-shadow: 2px 1px 3px;
}
p{
    font-weight: bold;
}
