body{
    background-color: rgb(193, 216, 215);
    opacity: 25;
}

div{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 219, 223);
}
#registerForm{
    border: solid 2px black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    padding: 100px;
    box-shadow: 2px 1px 3px;
}
h2{
    font-weight: bold;
}
