body{
    background-color: beige;
}

#addbookfs{
    background-color: azure;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    box-shadow: 3px 3px 2px gray;  
}

#tagsCheckbox{
    background-color: azure;
    box-shadow: 3px 3px 2px gray;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    


}

#divButton{
    display: flex;
    justify-content: center;
}

#searchBox{
    margin-top: 10px;
    box-shadow: 3px 3px 2px gray;
    background-color: azure;
    display: flex;
    justify-content: center;
    gap: 10px;
}

legend{
    text-align: center;
    float: none;
    width: auto;
    padding: 0 5px;
}

