body{
    background-color: beige;
}

#addbookfs{
    background-color: azure;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    box-shadow: 3px 3px 2px gray;  
}

#tagsCheckbox{
    height: 50px;
    background-color: azure;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10 px;
    flex-wrap: wrap;
    box-shadow: 3px 3px 2px gray;
}

#divButton{
    display: flex;
    justify-content: center;
}

#searchBox{
    margin-top: 10px;
    box-shadow: 3px 3px 2px gray;
    background-color: azure;
    display: flex;
    justify-content: center;
}

legend{
    text-align: center;
}
